@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------- HEADER ------- */
header nav {
  background-color: #f5e1e7;
  width: 100%;
}

.header__logo--style {
  margin: 12px;
  width: 120px;
  mix-blend-mode: multiply;
  filter: brightness(1.1) grayscale(1.1);
}

button {
  background: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: lighter;
  padding: 8px;
}

nav li {
  list-style-type: none;
  grid-column: auto;
  display: flex;
  justify-content: right;
  margin: 30px 20px;
}

body {
  margin-top: 180px;
}

/* ------- MAIN INDEX ------- */
/* ------- GRIDS ------- */
.main__grid--welcome {
  padding: 60px;
  background-image: $background-gradient;
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 720px) {
  .main__grid--welcome {
    grid-template-columns: repeat(2, 1fr);
  }
}

@mixin main__grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-items: space-around;
}

.main__grid--welcomeDesign1 {
  @include main__grid;
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 720px) {
  .main__grid--welcomeDesign1 {
    flex-direction: row;
  }
}

.main__container--animation {
  overflow: hidden;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* -------TEXTO INDEX ------- */
.main__text--index {
  padding: 5px;
  margin: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  grid-column: 1;
  grid-row: 1;

  &--animation {
    @extend .main__text--index;
    overflow: hidden;
    animation-duration: 3s;
    animation-name: slidein;
  }
}

.main__text--italic {
  font-style: italic;
}

#main__carouselDesign {
  border-radius: 15px;
}

/* ------- MAIN PRODUCTS ------- */
.main__title--products {
  margin: 0px;
  padding: 30px;
}

/* .main__container--products {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
 
} */

.main__card--products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
  align-items: center;
}
.main__card--products > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(109, 108, 108, 0.3);
}

.main__card--products > article img {
  max-width: 100%;
}

.main__cardText {
  justify-content: center;
  padding: 0 20px 20px;
  text-transform: uppercase;
}
.main__cardButton {
  background: $background-pink;
  border: 0;
  color: #000000;
  padding: 10px;
  width: 15%;
}

/* ------- MAIN DESCRIPTION (WHO ARE WE - QUESTIONS) ------- */
.main__text--description {
  margin: auto;
  padding-top: 30px;
}

.main__title--description {
  margin-top: auto;
  padding-top: 30px;
}

/* ------- MAIN DESCRIPTION (CONTACT US) ------- */
.main__container--contactUs {
  margin: 8px;
}

.main__container--contactUsForm {
  padding: 8px;
}

.main__container--contactUsButton {
  margin-left: 5px;
  padding: 8px;
  border-style: none;
  border-radius: 10px;
}

/* ------- FOOTER ------- */
.footer__gridDesign {
  padding: 60px;
  background-image: repeating-linear-gradient($background-pink, white);
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 720px) {
  .footer__gridDesign {
    grid-template-columns: repeat(3, 1fr);
  }
}

iframe {
  border-radius: 20px;
}

.footer__contentStyle {
  text-align: center;
  margin-top: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

ul li {
  list-style-type: none;
  display: flexbox;
  /* display: inline-block; */
  /* position: relative; */
  margin: 40px;
}

.footer__card {
  border-block-start-style: hidden;
  border-color: #ffffff;
  border-radius: 10px;
  max-width: max-content;
}

.footer__title {
  background-color: $background-pink;
  text-size-adjust: 10px;
  border-radius: 30px;
}

.footer__svg {
  width: 25px;
}

.footer__svg2 {
  width: 15px;
}

/* ------- SECTION ------- */
.section__contentStyle {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  padding-top: 15px;
  background-color: #ffffff;
}
